/* Общие стили */
body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: green;
    font-family: 'Courier New', Courier, monospace;
}

/* Эффект матрицы - на заднем плане */
canvas {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}


/* Контейнер для чата */
#chat-container {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 80vh;
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.8);
}

/* Сообщения в чате */
#chat-container p {
    margin: 5px 0;
}

/* Контейнер для ввода */
#input-container {
    position: relative;
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: black;
    border-top: 1px solid green;
}

/* Поле для ввода */
#input-container input[type="text"] {
    width: 90%;
    padding: 10px;
    background-color: black;
    color: green;
    border: 1px solid green;
    font-size: 16px;
}

/* Кнопка отправки */
#input-container input[type="submit"] {
    width: 8%;
    background-color: green;
    color: black;
    border: 1px solid green;
    cursor: pointer;
}

#input-container input[type="submit"]:hover {
    background-color: black;
    color: green;
}











