<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WASP OS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <!-- Холст для эффекта матрицы -->
    <canvas id="matrix"></canvas>

    <!-- Контейнер для сообщений чата -->
    <div id="chat-container"></div>

    <!-- Контейнер для ввода -->
    <div id="input-container">
        <input type="text" id="user-input" placeholder="Ask WASP about anything..." required>
        <input type="submit" value="Send" onclick="sendMessage()">
    </div>

    <div id="response-container"></div>

   
    
<script src="{{ url_for('static', filename='script.js') }}"></script>


</body>
</html>
